# LaTeX temporaries
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex*
*.toc
*.glg
*.glo
*.gls
*.ist

# figure temporaries
/figures/src/*.pdf

# main document
/waves.pdf
/waves-v*.pdf

# VSCode
/.vscode

# macOS temporaries
.DS_Store

# do not track PDF versions
/versions

# no solution
/solutions
