# LaTeX temporaries
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex*
*.toc
*.glg
*.glo
*.gls
*.ist

# figure temporaries
/figures/src/*.pdf

# main document
/waves.pdf

# VSCode
/.vscode

# macOS temporaries
.DS_Store

# no solution
/solutions
